.bgimg{
    background-image: url('../img/bgimg.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 790px;
}
.headerset{
    padding-top: 350px;
    box-sizing: border-box;
}
.headerset h2{
    font-size: 42px;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;   
            -webkit-text-stroke-color: rgb(91, 91, 91)
}
.headerset h1{
    font-size: 72px;
    font-weight: bolder;
    color: rgb(34, 34, 34);
    -webkit-text-stroke-width: 2px;   
            -webkit-text-stroke-color: rgb(253, 253, 253)
}
/*-------------OUR SERVICES--------------------------------*/
.ourservices{
    padding: 100px 0px 60px;
    height: 700px;
}
.ourservices h1 {
    font-size: 50px;
    font-weight: bold;
}
.rowsetting{
    margin: 80px 0px !important ;
}
.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px; 
}
.rowsetting p{
    color: #6c757d!important;
}
.imgsetting{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.mgtop{
    margin-top: 26px;
}

/*-----------------PORTFOLIO----------------*/
.portfolio{
    height: 1100px;
    width: 100%;
    padding: 100px 0px 50px; 
}
.portfolio h1{
    font-size: 50px;
    font-weight: bold;
}
.card{
    margin-top: 40px;
} 
.card-  body p{
    color: #6c757d!important;
}
/*-----------------OUR AMAZING TEAM----------------*/
.ourteam{
    height: 700px;
    padding:  100px 0 60px;
    width: 100%;
}
.ourteam h1{
    font-size: 50px;
    font-weight: bold;
}
.teamsetting{
    margin-top: 70px!important ;
    padding-left: 100px;
    padding-right: 100px;
}
.ourteam img{
    height: 300px;
}

/*-----------------FOOTER----------------*/
.footer{
    height: 50px;

}
.footer h6{
    line-height: 50px;
}

/*-----------------Responsive Media query----------------*/

@media (min-width: 992px) {
    
}
@media (min-width: 768px) and (max-width:991px){
    .bgimg{
        height: 838px;
    }
    .headerset{
        padding-top: 360px;
    }
    
    .headerset h2{
        font-size: 32px;
        -webkit-text-stroke-width: 1px;   
                -webkit-text-stroke-color: rgb(91, 91, 91)
    }
    .headerset h1{
        font-size: 52px;
        font-weight: 700;
        color: rgb(34, 34, 34);
        -webkit-text-stroke-width: 2px;   
                -webkit-text-stroke-color: rgb(253, 253, 253)
    } 
    .ourservices{
        height: 800px;
    }
    .ourservices .mt10{
        margin-top: 10px;
    }
    .portfolio{
        height: 900px;
    }

   
    .ourteam{
        height: 700px;
    }
    
    .ourteam img{
        height: 250px;
    }

}
@media (min-width: 575px) and (max-width:767px){
    .bgimg{
        height: 838px;
    }
    .headerset{
        padding-top: 350px;
    }
    
    .headerset h2{
        font-size: 32px;
        -webkit-text-stroke-width: 1px;   
                -webkit-text-stroke-color: rgb(91, 91, 91)
    }
    .headerset h1{
        font-size: 52px;
        font-weight: 700;
        color: rgb(34, 34, 34);
        -webkit-text-stroke-width: 2px;   
                -webkit-text-stroke-color: rgb(253, 253, 253)
    } 
    .ourservices{
        height: 1100px;
    }
    .ourservices .mt10{
        margin-top: 10px;
    }
    .portfolio{
        height: 1700px;
    }
    .ourteam{
        height: 950px;
    }
    
    .ourteam img{
        height: 250px;  
    }


}
@media(min-width:480px) and (max-width:574px){

    .bgimg{
        height: 838px;
    }
    .headerset{
        padding-top: 350px;
    }
    
    .headerset h2{
        font-size: 32px;
        -webkit-text-stroke-width: 1px;   
                -webkit-text-stroke-color: rgb(91, 91, 91)
    }
    .headerset h1{
        font-size: 52px;
        font-weight: 700;
        color: rgb(34, 34, 34);
        -webkit-text-stroke-width: 2px;   
                -webkit-text-stroke-color: rgb(253, 253, 253)
    } 
    .ourservices{
        height: 1300px;
    }
    .ourservices .mt10{
        margin-top: 10px;
    }
    .portfolio{
        height: 2800px;
    }
    .ourteam{
        height: 950px;
    }
    
    .ourteam img{
        height: 200px;  
    }

}
@media(max-width:479px){ 
    .bgimg{
        height: 884px;
    }
    .headerset{
        padding-top: 350px;
    
    }
      
    .headerset h2{
        font-size: 22px;
        -webkit-text-stroke-width: 1px;   
                -webkit-text-stroke-color: rgb(91, 91, 91)
    }
    .headerset h1{
        font-size: 42px;
        font-weight: 700;
        color: rgb(34, 34, 34);
        -webkit-text-stroke-width: 2px;   
                -webkit-text-stroke-color: rgb(253, 253, 253)
    } 
    .ourservices{
        height: 1400px;
    }
    .ourservices .mt10{
        margin-top: 10px;
    }
    .portfolio{
        height: 2500px;
    }
    .ourteam{
        height: 850px;
    }
    
    .ourteam img{
        height: 100px;
        
    }
}

